button {
    background-color: skyblue;
    height: 100%; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 200px;
    font-weight: bold;
}