:host::ng-deep {
    .mat-mdc-raised-button:not(:disabled) {
        background-color: aquamarine;
    }
}

main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-tic-tac-toe-square {
    border: 1px gray solid;
    height: 200px;
}