<div class="home-container">
    <div class="card-container">
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>
        <div class="pos"></div>

        <mat-card appearance="raised">
            <mat-card-header>
              <mat-card-title> Australian Shepherd</mat-card-title>
              <mat-card-subtitle>Herding group</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>Learn More</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>

